h1 {
  color: green;
  font-size: 200%;
}

p {
  font-family: Times;
  text-indent: 20px;
  margin-left: 10px;
}

#content {
  background-color: lightblue;
  width: 500px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 5px darkgreen;
  font-size: 30px;
}
