#hello1-button {
  background-color: yellow;
}

#hello1-button.fred {
  background-color: brown;
}

#hello2-button {
  background-color: purple;
}

#hello2-button.george {
  background-color: pink;
}


h1, h2, h3 {
  color: green;
  font-size: 200%;
}

body {
    font-family: Times;
    background-color: blue;
    padding: 25px;
    font-size: 120%;
}

#content {
    padding: 50px;
    background-color: lightblue;
    border: solid 3px #333333;
    min-height: 70vh;
